<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Common">
<!-- call Common.selectFromTOYS_JAVAWITHDB.CIP_COMMON_CODEByCOMMON_CODE_ID  -->
<select id="Common.selectFromTOYS_JAVAWITHDB.CIP_COMMON_CODEByCOMMON_CODE_ID"
        parameterType="Map" resultType="Map">
        select COMMON_CODE_ID,NAME,ORDER_NUMBER 
        from  TOYS_JAVAWITHDB.CIP_COMMON_CODE
       
</select>
</mapper>